# Environment
.env

# Uploads & Reports
uploads/
reports/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Model
*.h5
model/*.h5

# Database
dr_orange.db

# Virtual Environment
venv/
env/
.venv/

# IDEs / OS
.DS_Store
.idea/
.vscode/

# Packaging
*.egg-info
build/
dist/
